@font-face
{
   font-family: "Hellbone-Demo.otf";
   src: url("Hellbone-Demo.otf");
}
@font-face
{
   font-family: "hobbitonbrushhand.ttf";
   src: url("hobbitonbrushhand.ttf");
}
@font-face
{
   font-family: "soloist1.ttf";
   src: url("soloist1.ttf");
}
@font-face
{
   font-family: "avenger.otf";
   src: url("avenger.otf");
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #696969;
    background-image: url('header_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20px;
}

.contenedor {
    max-width: 2200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Productos en 3 columnas */
.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.producto {
    /* background: #f9f9f9;*/
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    background: none;
    display: inline-block;
    border: 10px solid #0a5304;
}

button {
    border: none;
    background: none;
}

/* Ajustar imágenes de productos proporcionalmente */
button a img {
    width: 300px;   /* Ancho fijo */
    height: 350px;  /* Alto fijo para uniformidad */
    object-fit: scale-down;  /* Mantiene la proporción y recorta si es necesario */
    border-radius: 10px;
    transition: transform 0.3s ease;
}

button a img:hover {
    transform: scale(1.1);
}

/* Footer en 2 columnas */
footer {
    background-color: #054100;
    color: white;
    padding: 20px;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.info, .contacto {
    width: 45%;
}

.info h2, .contacto h2 {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

/* Logo centrado debajo de las secciones */
.footer-logo {
    text-align: center;
    margin-top: 20px;
}

.footer-logo img {
    width: 200px; /* Puedes ajustar el tamaño */
}

.destacados {
    font-family: "Hellbone-Demo.otf";
    font-size: 90px;
    background: linear-gradient(to bottom, red 33%, orange 66%, yellow 100%);
    -webkit-background-clip: text; 
    color: transparent;
    display: inline-block; /* Evita que el efecto se expanda más de lo necesario */
}

.starwars {
    font-family: "soloist1.ttf";
    font-size: 30px;
}

.lotr {
    font-family: "hobbitonbrushhand.ttf";
    font-size: 50px;
}

.avenger {
    font-family: "avenger.otf";
    font-size: 40px;
}